server:
  port: 80

spring:
  application:
    name: cloud-order-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource    # 当前数据源的操作类型
    driver-class-name: org.gjt.mm.mysql.Driver       # mysql驱动包
    url: jdbc:mysql://localhost:3306/db2019?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: root



eureka:
  client:
    #表示是否将自己注册金EurekaServer 默认为TRUE
    register-with-eureka: true
    #是否从EurekaServer抓取已有的注册信息，默认为TRUE
    fetch-registry: true
    service-url:
      #defaultZone: http://localhost:7001/eureka        #单机版
      defaultZone: http://eureka7001.com:7001/eureka ,http://eureka7002.com:7002/eureka   #集群版